<ion-tabs class="ion-no-border tab-bar">
  <ion-tab-bar slot="bottom" class="ion-no-border tab-bar">
    <ion-tab-button tab="meal-plan" href="/tabs/meal-plan">
      <ion-icon aria-hidden="true" name="restaurant"></ion-icon>
      <ion-label>Plano</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="recepy-book" href="/tabs/recepy-book">
      <ion-icon aria-hidden="true" name="book"></ion-icon>
      <ion-label>Receitas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="shopping-list" href="/tabs/shopping-list">
      <ion-icon aria-hidden="true" name="cart"></ion-icon>
      <ion-label>Compras</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="groups" href="/tabs/groups">
      <ion-icon aria-hidden="true" name="people"></ion-icon>
      <ion-label>Grupos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<app-navbar></app-navbar>