<ion-content padding>
    <div class="form-content">
        <ion-title class="page-title">
            <b>Family Meal Plan</b>
        </ion-title>
    
        <form class="form" [formGroup]="validations_form" (ngSubmit)="tryLoginWithEmailAndPassword(validations_form.value)">
            <div>
                <ion-input 
                    label="Email" 
                    label-placement="floating" 
                    fill="outline"
                    formControlName="email"
                ></ion-input>
        
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.email">
                        <div class="error-message" 
                            *ngIf="validations_form.get('email')?.hasError(validation.type) &&
                            (validations_form.get('email')?.dirty ||
                            validations_form.get('email')?.touched)">
                            {{ validation.message }}
                        </div>
                    </ng-container>
                </div>
            </div>
    
            <div class="password-field">
                <ion-input 
                    label="Password" 
                    label-placement="floating" 
                    fill="outline"
                    type="password"
                    formControlName="password"
                ></ion-input>
        
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.password">
                        <div class="error-message"
                            *ngIf="validations_form.get('password')?.hasError(validation.type) &&
                            (validations_form.get('password')?.dirty ||
                            validations_form.get('password')?.touched)">
                            {{ validation.message }}
                        </div>
                    </ng-container>
                </div>
            </div>
    
            <div class="sign-in-options">
                <ion-button expand="block" type="submit" [disabled]="!validations_form.valid">
                    Sign In
                </ion-button>
                <ion-button class="google-btn" expand="block" (click)="tryLoginWithGoogle(validations_form.value)">
                    <ion-img [src]="googleLogoImage"></ion-img>
                    Sign in with Google
                </ion-button>
            </div>
    
            <label class="error-message">{{errorMessage}}</label>
        </form>
    
        <p class="go-to-register">
            No account yet? 
            <a (click)="goRegisterPage()">Create an account.</a>
        </p>
    </div>
</ion-content>