div.calendar {
    padding-top: 1.5rem;
}

ion-card {
    --background: var(--secondary-color);
    box-shadow: none !important;
}

ion-col {
    color: black;
    text-align: center;
    padding: 0 !important;
}

ion-card-content {
    padding: 0 !important;
}