.meal-plan-info-container {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.meal-plan-info-container strong {
    font-size: 20px;
    line-height: 26px;
}

.meal-plan-info-container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
}

.meal-plan-info-container a {
    text-decoration: none;
}

ion-content {
    --padding-top: 3.5rem;
}
