ion-buttons {
    float: right;
    padding-right: 10%;
    background-color: transparent;
}

ion-buttons button {
    background-color: transparent;
}

ion-content h2 {
    padding-left: 1rem;
    padding-right: 1rem;
}

iframe {
    width: 100%;
    padding: 1rem;
}