ion-row {
    margin-bottom: 2rem;
}

ion-button.save-recepy-btn {
    --background: var(--secondary-color);
    --ripple-color: black;
    --color: black;
    font-weight: 500;
    --box-shadow: none !important;
    padding: 0 2.5rem;
    margin-bottom: 1.5rem;
}

div.recepy-name-field {
    display: grid;
    gap: 1rem;
}

input.field-input {
    display: flex;
    width: 100%;
    background-color: white;
    border: none;
    border-bottom: solid 2px var(--detail-color-1);
}

input.field-input:focus-visible {
    outline: none !important;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.bottom-margin {
    margin-bottom: 2rem;
}

.category-entry {
    display: flex;
    align-items: center;
    height: 100%;
}

.category-margin {
    margin-bottom: 1rem;
}

.add-category-btn {
    --box-shadow: none !important;
    --background: white;
    margin: 0;
    color: var(--detail-color-1);
}

.delete-btn {
    color: var(--warning-color);
}

.error-message {
    color: var(--ion-color-danger);
    font-size: 0.9rem;
}