<ion-header class="ion-no-border bottom-margin">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form class="form" id="recepyForm" [formGroup]="recepyForm" (ngSubmit)="tryAddRecepy(recepyForm.value)">
    <ion-grid>

      <!-- Recepy name / image -->
      <ion-row>
        <ion-col size="8">
          <div class="recepy-name-field">
            <ion-label>
              Nome da receita:
              <ion-text color="danger">*</ion-text>
            </ion-label>
            <input
              class="field-input" 
              formControlName="name"
            />
            
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validationMessages.name">
                <div class="error-message" 
                  *ngIf="recepyForm.get('name')?.hasError(validation.type) &&
                  (recepyForm.get('name')?.dirty ||
                  recepyForm.get('name')?.touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </div>
        </ion-col>
        
        <ion-col>
          <ion-button *ngIf="!image" class="img-btn" size="large" (click)="addRecepyImage()">
            <ion-icon slot="icon-only" name="add"></ion-icon>
          </ion-button>
          <div *ngIf="image" class="img-wrapper">
            <img [src]="image.img" (click)="addRecepyImage()" >
          </div>
        </ion-col>
      </ion-row>

      <!-- Recepy prep time -->
      <ion-row>
        <ion-col size="7">
          <ion-label>
            Tempo de preparação:
            <ion-text color="danger">*</ion-text>
          </ion-label>
        </ion-col>
        <ion-col size="3">
          <input 
            class="field-input"
            type="number"
            min="1"
            formControlName="prepTimeMins"
          />

          <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.prepTimeMins">
              <div class="error-message" 
                *ngIf="recepyForm.get('prepTimeMins')?.hasError(validation.type) &&
                (recepyForm.get('prepTimeMins')?.dirty ||
                recepyForm.get('prepTimeMins')?.touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </ion-col>
        <ion-col size="2">
            <ion-label>mins</ion-label>
        </ion-col>
      </ion-row>
       
       <!-- Recepy servings -->
       <ion-row>
        <ion-col size="4">
          <ion-label>
            Porções:
            <ion-text color="danger">*</ion-text>
          </ion-label>
        </ion-col>
        <ion-col size="3">
          <input
            class="field-input"
            type="number"
            min="1"
            formControlName="servings"
          />

          <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.servings">
              <div class="error-message" 
                *ngIf="recepyForm.get('servings')?.hasError(validation.type) &&
                (recepyForm.get('servings')?.dirty ||
                recepyForm.get('servings')?.touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
       
      <!-- Recepy calories -->
      <ion-row>
        <ion-col size="3">
          <ion-label>Calorias:</ion-label>
        </ion-col>
        <ion-col size="3">
          <input 
            class="field-input"
            type="number"
            min="1"
            formControlName="calories"
          />
        </ion-col>
        <ion-col size="2">
            <ion-label>kcal</ion-label>
        </ion-col>
      </ion-row>
       
      <!-- Recepy categories -->
      <ion-row class="no-margin">
        <ion-col class="no-padding">
          <ion-grid class="no-padding">
            <ion-row class="category-margin">
              <ion-col size="4">
                <ion-label class="category-entry">Categoria(s):</ion-label>
              </ion-col>
              <ion-col size="5">
                <input
                  #categoryToAdd
                  class="field-input category-entry" 
                />
              </ion-col>
              <ion-col size="1.5">
                <ion-button class="add-category-btn" shape="round" size="meddium" (click)="addCategory()">
                  <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col size="1.5">
                <ion-button class="add-category-btn delete-btn" shape="round" size="meddium" (click)="clearCategories()">
                  <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <app-category-list [(categories)]="categories" [displayMode]="false"></app-category-list>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
      
      <!-- Recepy ingredients -->
      <ion-row>
        <ion-col>
          <app-item-list label="Ingredientes" [(itemList)]="ingrdients" [displayMode]="false"></app-item-list>
        </ion-col>
      </ion-row>
      
      <!-- Recepy steps -->
      <ion-row>
        <ion-col>
          <app-item-list label="Passos" [(itemList)]="steps" [displayMode]="false" [displayInTextarea]="true"></app-item-list>
        </ion-col>
      </ion-row>

    </ion-grid>

    <label class="error-message">{{ "" }}</label>
  </form>
</ion-content>

<ion-toolbar color="transparent">
  <ion-button class="save-recepy-btn" shape="round" expand="block" type="submit" form="recepyForm" [disabled]="!recepyForm.valid">
    <b>Guardar</b>
  </ion-button>
</ion-toolbar>