<ion-menu contentId=menuId>
  <ion-header>
    <ion-toolbar>
      <ion-title>Family Meal Planner</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"><i>Conteúdo a ser acrescentado aqui</i></ion-content>
</ion-menu>

<div id=menuId>
  <ion-header class="ion-no-border">
    <ion-toolbar class="navbar">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" ios="person-circle-outline" md="person-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</div>