.category-container {
    display: grid;
    grid-auto-flow: column;
    overflow: hidden;
    overflow-x: scroll;

    gap: 0.75rem;

    // Remove default scrollbar style
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

// Remove default scrollbar style
.category-container::-webkit-scrollbar {
    display: none;
}

.category-entry {
    display: flex;
    align-content: center;
    justify-content: center;
    min-width: fit-content;
    max-width: fit-content;
    border-radius: 999px;
    padding: 0.5rem 1.25rem;
    color: white;
    background-color: var(--primary-color);
    white-space: nowrap;
    
    p {
        margin: 0;
        align-content: center;
    }

    .delete-category-btn {
        --color: var(--detail-color-1);
        --ripple-color: black;
        --box-shadow: none !important;
        --background: var(--primary-color);
        margin: 0;
        margin-left: 0.5rem;
    }
}
