<div class="meal-plan-card">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="meal-plan-card-title">
        <b><i>Card Title</i></b>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="recepy" [src]="recepyPic" />
          </ion-thumbnail>
          <ion-label>Item</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="recepy" [src]="recepyPic" />
          </ion-thumbnail>
          <ion-label>Item</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</div>