.meal-plan-card-title {
    padding-left: 1.5rem;
}

ion-card {
    --background: var(--primary-color-light);
    box-shadow: none !important;
}

ion-list.list-md {
    background: var(--primary-color-light);
}

ion-item {
    --background: var(--primary-color-light);
}